{% extends 'base.html' %}
{% load static %}

{% block title %}
<meta charset="utf-8">
<title>{{ post.title }} | </title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">
{% endblock title %}

{% block body %}
<!-- Navbar End -->

<!-- Header Start -->
<div class="container-fluid page-header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
            <h3 class="display-4 text-white text-uppercase">Single</h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'index' %}">Home</a></p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">Single</p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Detail Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <h6 class="text-primary mb-3">{{ post.created_at }}</h6>
                    <h1 class="mb-5">{{ post.title }}</h1>
                    <img class="img-fluid rounded w-100 mb-4" src="{{ post.image.url }}" alt="{{ post.title }}">
                    <p>{{ post.content|safe }}</p>
                </div>

                <!-- Comment List -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">{{ post.comments.count }} Comments</h3>
                    {% for comment in post.comments.all %}
                    <div class="media mb-4">
                        <img src="{% static 'img/user.jpg' %}" alt="Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 45px;">
                        <div class="media-body">
                            <h6>{{ comment.name }} <small><i>{{ comment.created_at|date:"d M Y at h:i a" }}</i></small></h6>
                            <p>{{ comment.message }}</p>
                            <button class="btn btn-sm btn-secondary">Reply</button>
                        </div>
                    </div>
                    {% empty %}
                    <p>No comments yet.</p>
                    {% endfor %}
                </div>

                <!-- Comment Form -->
                <div class="bg-secondary rounded p-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Leave a comment</h3>
                    <form id= "commentform" method="post" action=" ">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Name *</label>
                            <input type="text" class="form-control border-0" name="name" id="name" required>
                        </div>
                        <div class="form-group">
                            {% comment %} <label for="name">Url *</label>  {% endcomment %}
                            <input type="hidden" class="form-control border-0" value = {{post.url}} name="url" id="url" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control border-0" name="email" id="email" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message *</label>
                            <textarea id="message" cols="30" rows="5" name="message" class="form-control border-0" required></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <input type="submit" value="Leave Comment" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold">
                        </div>
                        <p id='success'></p> 
                    </form>
                </div>
            </div>

            <div class="col-lg-4 mt-5 mt-lg-0">
                <!-- Author Bio -->
                <div class="d-flex flex-column text-center bg-dark rounded mb-5 py-5 px-4">
                    <img src="{% static 'img/user.jpg' %}" class="img-fluid rounded-circle mx-auto mb-3" style="width: 100px;">
                    <h3 class="text-primary mb-3">John Doe</h3>
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                    <p class="text-white m-0">Conset elitr erat vero dolor ipsum et diam, eos dolor lorem, ipsum sit no ut est ipsum erat kasd amet elitr</p>
                </div>

                <!-- Search Form -->
                <div class="mb-5">
                    <form method="get" action="{% url 'blog_search' %}">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control form-control-lg" placeholder="Keyword" required>
                            <div class="input-group-append">
                                <span class="input-group-text bg-transparent text-primary"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Categories -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Categories</h3>
                    <ul class="list-group list-group-flush">
                        {% if blog_categories %}
                        {% for blog_category in blog_categories %}
                        <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                            <a href="{% url 'post_list_by_category' blog_category.url %}" class="text-decoration-none h6 m-0">{{ blog_category.name }}</a>
                            <span class="badge badge-primary badge-pill">{{ blog_category.blog_count }}</span>
                        </li>
                        {% endfor %}
                        {% else %}
                        <p>No Categories</p>
                        {% endif %}
                    </ul>
                </div>

                <!-- Recent Post -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Post</h3>
                    {% if recent_blogs %}
                    {% for recent_blog in recent_blogs %}
                    <a class="d-flex align-items-center text-decoration-none mb-3" href="{% url 'blog_details' recent_blog.url %}">
                        <img class="img-fluid rounded" height="50px" width="50px" src="{{ recent_blog.image.url }}" alt="{{ recent_blog.title }}">
                        <div class="pl-3">
                            <h6 class="m-1">{{ recent_blog.title }}</h6>
                            <small>{{ recent_blog.created_at }}</small>
                        </div>
                    </a>
                    {% endfor %}
                    {% else %}
                    <p>No recent blogs at the moment</p>
                    {% endif %}
                </div>

                <!-- Tag Cloud -->
                <div class="mb-5">
                    <h3 class="text-uppercase mb-4" style="letter-spacing: 5px;">Tag Cloud</h3>
                    <div class="d-flex flex-wrap m-n1">
                        {% if blog_tags %}
                        {% for blog_tag in blog_tags %}
                        <a href="{% url 'post_list_by_tags' blog_tag.url %}" class="btn btn-outline-primary m-1">{{ blog_tag.name }}</a>
                        {% endfor %}
                        {% else %}
                        <p>No Tags</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Detail End -->
{% endblock body %}
